body {
	background-color: #1A1A1A;
	text-align: center;
	color: white;
	font-family: Comic Sans, cursive;
}

.nag {
	font-size: 40px;
	text-align: left;
	float: left;
}

.amg {
	width: 65%;
	float: left;
	margin: 10px;
	margin-left: 100px;
}

.dropdown-content {
	position: absolute;
	display: none;
	position: relative;
	float: left;
	padding: 1vh 0.5vw;
	text-align: center;
	background-color: #5F5E5E;
	width: 120px;
	opacity: 90%;
	margin-top: 90px;
}

.dropdown-hitbox {
	position: absolute;
	height: 7vh;
	background-color: #5F5E5E;
	color: white;
	text-align: center;
	box-sizing: border-box;
	padding-top: 2vh;
	width: 146px;
}

.dropdown {
	float: right;
	width: 140px;
}

.dropdown:hover .dropdown-content{
	position: absolute;
	display: block;
	animation: menu-opening 1s linear;
}

.stopka {
	width: 100%;
	background-color: #292929;
	position:absolute;
	bottom:0;
}

.clear {
	clear: both;
}

.right1 {
	margin-right: 146px;
}

.right2 {
	margin-right: 292px;
}

.center {
	margin: auto;
}

.border1 {
	border: 3px solid black;
}

.img1 {
	margin: 5px;
	width: 250px;
	height: 200px;
}

@keyframes menu opening{
	from {
		height: 1%;
	}
	to {
		height: 100%;
	}
}